# Dependency directories
node_modules/
jspm_packages/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
frontend/dist/
frontend/build/
.next/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.settings/

# OS related files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz
